body {
    font-family: JosefinSansStdLight;
    font-size: 12pt;
    color: #4E4E4E;
    font-weight: normal;
    line-height: 0.95;
}
.vsc_artistspace a {
    color: #7A8085;
    text-decoration: none;
}
.vsc_artistspace a:hover {
    color: #A6A6A6;
    text-decoration: underline;
}
h1.title {
    font-size: 30px;
    letter-spacing: -1px;
    color: #43413F;
    font-weight: bold;
    overflow: visible;
    line-height: normal;
    font-family: QuicksandLight;
}
