html body.admin-menu {
 margin-top: 0 !important;
 overflow: visible;
}
div#admin-menu,
div#admin-menu div,
#admin-menu ul a {
 overflow: visible;
 font-family: Helvetica, Arial ;
 font-size: 10px;
 padding: 2px 4px;
}
html body.admin-menu #page-inner {
 padding-top: 20px;

}
/*+clearfix {*/
.vsc_artistspace ul#navlist:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.vsc_artistspace ul#navlist {
    display: inline-block;
}
.vsc_artistspace ul#navlist {
/*\*/
    display: block;
/**/
    -height: 1px;
}
/*+}*/
body.vsc_artistspace {
    height: 100%;
    background-color: #202020;
}
.vsc_artistspace div {
    overflow: hidden;
}
.vsc_artistspace .block-region {
    background-color: #693E28;
    color: #8B8B8B;
}
.vsc_artistspace #header-top,
.vsc_artistspace #header-content {
    clear: left;
}
#header-wrapper {
    overflow: hidden;
}
.vsc_artistspace #footer {
    border-bottom: 70px solid #151515;
    padding-bottom: 10px;
}
.vsc_artistspace #site-name {
    height: 0px;
}
.vsc_artistspace #left-inner,
.vsc_artistspace #right-inner {
    padding: 4px 4px 8px;
}
.vsc_artistspace #block-user-1 #user-login-form .item-list ul {
    margin-left: -19px;
    text-align: left;
    font-size: 10.5pt;
}
.vsc_artistspace .sidebar {
    background-color: #151515;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -khtml-border-radius-bottomleft: 10px;
    -khtml-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
.vsc_artistspace #main-inner {
    padding: 5px;
}
.vsc_artistspace #main {
    /*[empty]background-color:;*/
}
.vsc_artistspace div#admin-toolbar {
    overflow: visible;
    width: 1px;
}
.vsc_artistspace .full-width {
    display: block;
    position: relative;
    width: 100%;
}
.vsc_artistspace input.form-text {
    border: 1px solid #3E3E3E;
    background-color: #313131;
    background-repeat: no-repeat;
    /*[empty]width:;*/
    height: 15px;
    color: #8B8B8B;
    padding: 9px;
}
.vsc_artistspace ul.inline {
    display: block;
    margin: 8px 0px 11px;
    padding: 0px;
    position: relative;
    text-align: right;
}
.vsc_artistspace ul.inline li {
    position: relative;
    display: inline;
    margin: 0px 5px 0px 0px;
    padding: 0px;
}
/*navigation list*/
/*[clearfix]*/.vsc_artistspace ul#navlist {
    position: static;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}
.vsc_artistspace #secondary-links ul#navlist li a {
    background-position: center -27px;
    color: #313131;
}
.vsc_artistspace #secondary-links ul#navlist li a:hover,
.vsc_artistspace #secondary-links ul#navlist li a.active {
    background-position: center -89px;
}
.vsc_artistspace #secondary-links #navlist {
    background-repeat: no-repeat;
    background-position: 0px -27px;
}
.vsc_artistspace ul#navlist li {
    display: inline-block;
    font-size: 100%;
    float: none;
    padding: 0px;
    margin: 0px -2px 0px 0px;
    height: 32px;
}
.vsc_artistspace ul#navlist a {
    display: inline-block;
    float: none;
    color: #000000;
    width: auto;
    height: 24px;
    line-height: 1.9;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 8px;
    background-image: url(../images/sprite.png);
    background-position: center top;
}
.vsc_artistspace #navlist li a:hover,
.vsc_artistspace #navlist li a.active {
    background-image: url(../images/sprite.png), url(;);
    background-repeat: no-repeat;
    background-position: center -61px;
    color: #8B8B8B;
}
/*table theming*/
.vsc_artistspace table {
    width: 100%;
    font-size: 10.5pt;
}
.vsc_artistspace table thead tr th {
    border-bottom: 3px solid #151515;
}
.vsc_artistspace table tbody tr {
    border: 0px solid #000000;
}
.vsc_artistspace table tbody td {
    padding-top: 7px;
    padding-bottom: 2px;
}
.vsc_artistspace table tbody tr.even {
    background-color: #2B2A29;
}
.vsc_artistspace table tbody tr.odd {
    background-color: #383635;
}
